<!DOCTYPE html>
<html>
<head>
  <%- include("templates/head.ejs") %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <%- include("templates/navigation.ejs") %>
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-6">
              <div class="info-box">
                <% if (bot.user.presence.status === "online") { %>
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-plug"></i></span>
                <% } else if (bot.user.presence.status === "offline" || bot.user.presence.status === "dnd") { %>
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-plug"></i></span>
                <% } else { %>
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-plug"></i></span>
                <% } %>
                <div class="info-box-content">
                  <span class="info-box-text"><%- bot.user.username %> is:</span>
                  <span class="info-box-number">
                    <%- bot.user.presence.status %>
                  </span>
                </div>
              </div>
            </div>
            <%
            let botUsersTotal = 0;
            bot.guilds.cache.forEach(g => {
              botUsersTotal += g.memberCount
            })
            %>
            <div class="col-lg-3 col-6">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-users"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Users</span>
                  <span class="info-box-number"><%- botUsersTotal %></span>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-server"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Guilds</span>
                  <span class="info-box-number"><%- bot.guilds.cache.size %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <%
            var textChannels = 0;
		        var voiceChannels = 0;
	          let channels = bot.channels.cache;
	          for (var channel of channels.values()) {
	          	if (channel.type === 'text') ++textChannels;
	          	else if (channel.type === 'voice') ++voiceChannels;
            }
            %>
            <div class="col-lg-3 col-6">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-hashtag"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Text channels</span>
                  <span class="info-box-number"><%= textChannels %></span>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-microphone-alt"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Voice channels</span>
                  <span class="info-box-number"><%= voiceChannels %></span>
                </div>
              </div>
            </div>
            <%
            let botShardCount = 0;
            if (bot.shard) {
              botShardCount = bot.shard.count;
            }
            %>
            <div class="col-lg-3 col-6">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-ethernet"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Total shards</span>
                  <span class="info-box-number"><%= botShardCount %></span>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>More coming soon!</h3>
                  <p>Feel free to contribute on GitHub.</p>
                </div>
                <a href="https://github.com/julianYaman/discord-bot-dashboard" target="_blank"
                  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
    </div>
    </section>
  </div>
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/jquery-ui/jquery-ui.min.js"></script>
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <script src="/static/js/stats.js"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/chart.js/Chart.min.js"></script>
  <script src="/static/sparklines/sparkline.js"></script>
  <script src="/static/jqvmap/jquery.vmap.min.js"></script>
  <script src="/static/jqvmap/maps/jquery.vmap.usa.js"></script>
  <script src="/static/jquery-knob/jquery.knob.min.js"></script>
  <script src="/static/moment/moment.min.js"></script>
  <script src="/static/daterangepicker/daterangepicker.js"></script>
  <script src="/static/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <script src="/static/summernote/summernote-bs4.min.js"></script>
  <script src="/static/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <script src="/static/js/adminlte.js"></script>
  <script src="/static/js/pages/dashboard.js"></script>
  <script src="/static/js/demo.js"></script>
</body>
</html>