<!DOCTYPE html>
<html>

<head>
    <%- include ("templates/head.ejs") %>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include ("templates/navigation.ejs") %>
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Logs</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Logs</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="timeline">
                                <% logs.logs.forEach(l => {%>
                                <div>
                                    <i class="fas fa-envelope bg-blue"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i><%= l.time %></span>
                                        <h3 class="timeline-header"><%= l.level.toUpperCase() %> - <%= l.message %></h3>

                                        <div class="timeline-body">
                                            <%= l.info %>
                                        </div>
                                    </div>
                                </div>
                                <%})%>
                                <div>
                                    <i class="fas fa-user bg-green"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i></span>
                                        <h3 class="timeline-header no-border">By.: Julian Yaman</h3>
                                    </div>
                                </div>
                                <!-- <div>
                                    <i class="fas fa-comments bg-yellow"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i> 27 mins ago</span>
                                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post
                                        </h3>
                                        <div class="timeline-body">
                                            Take me to your leader!
                                            Switzerland is small and neutral!
                                            We are more like Germany, ambitious and misunderstood!
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-warning btn-sm">View comment</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="time-label">
                                    <span class="bg-green">3 Jan. 2014</span>
                                </div>
                                <div>
                                    <i class="fa fa-camera bg-purple"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i> 2 days ago</span>
                                        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                                        <div class="timeline-body">
                                            <img src="http://placehold.it/150x100" alt="...">
                                            <img src="http://placehold.it/150x100" alt="...">
                                            <img src="http://placehold.it/150x100" alt="...">
                                            <img src="http://placehold.it/150x100" alt="...">
                                            <img src="http://placehold.it/150x100" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <i class="fas fa-video bg-maroon"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i> 5 days ago</span>

                                        <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>

                                        <div class="timeline-body">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item"
                                                    src="https://www.youtube.com/embed/tMWkeBIohBs" frameborder="0"
                                                    allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                        <div class="timeline-footer">
                                            <a href="#" class="btn btn-sm bg-maroon">See comments</a>
                                        </div>
                                    </div>
                                </div> -->
                                <div>
                                    <i class="fas fa-clock bg-gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>

    </div>
    <footer class="main-footer">
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.0.2-pre
        </div>
    </footer>
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
    </div>

    <%- include ("parts/footer.ejs", {page: page, bot: bot, userInfo: userInfo, image: image}) %>

</body>

</html>