<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discord Bot Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <meta name="author" content="Julian Yaman">
    <meta name="description" content="A tool for Discord.js bot developers to manage their bot for development and final release usages.">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <% if(maintenanceStatus == false){ %>
            <span class="mdl-layout-title">Discord Bot Dashboard &raquo; Dashboard</span>
            <% }else{ %>
            <span class="mdl-layout-title">Discord Bot Dashboard &raquo; Dashboard <span class="maintenanceActive">Maintenance is active!</span></span>
            <% } %>
            <div class="mdl-layout-spacer"></div>
            <%- include('./templates/nav'); %>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Dashboard</span>
        <%- include('./templates/nav'); %>
    </div>
    <main class="mdl-layout__content">
        <!-- page content -->
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col"></div>
                <div class="mdl-cell mdl-cell--8-col">
                    <h1><b>Bot Log</b></h1>
                    <hr>
                    <div class="logContainer">
                        <ul>
                            <% log.forEach((log) => {%>
                                <li class="<%= "log_" + log.log_type %>">
                                    <%

                                        let convertingGetDay = function (getDay) {
                                            let day;
                                            switch (getDay){
                                                case 0:
                                                    day = "Sunday";
                                                    break;
                                                case 1:
                                                    day = "Monday";
                                                    break;
                                                case 2:
                                                    day = "Tuesday";
                                                    break;
                                                case 3:
                                                    day = "Wednesday";
                                                    break;
                                                case 4:
                                                    day = "Thursday";
                                                    break;
                                                case 5:
                                                    day = "Friday";
                                                    break;
                                                case 6:
                                                    day = "Saturday";
                                                    break;
                                                default:
                                                    day = "A problem occurred when trying to convert the Date.getDay() integer to a string \n";
                                            }
                                            return day;
                                        };

                                        let date = new Date(log.log_date);
                                        let day = convertingGetDay(date.getDay());

                                        // To understand converting timestamps to a normal known date
                                        // look at this question in StackOverflow -> https://goo.gl/Lb2Nxa
                                        // MDN Documentation about Date -> https://goo.gl/rT25GW

                                        // Minutes part from the timestamp
                                        let minutes = "0" + date.getMinutes();
                                        // Seconds part from the timestamp
                                        let seconds = "0" + date.getSeconds();

                                    %>
                                    [<%= day + ", " + date.getMonth() +  "/" + date.getDate() + "/" + date.getFullYear() + ", " + date.getHours() + ':' + minutes.substr(-2) + ":" + seconds.substr(-2) %>]
                                    <b><%= log.log_message %></b><br>
                                    <small><%= log.log_action %></small>

                                </li>
                            <% });%>
                        </ul>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../scripts/dashboard.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
