<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discord Bot Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <meta name="author" content="Julian Yaman">
    <meta name="description" content="A tool for Discord.js bot developers to manage their bot for development and final release usages.">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <% if(maintenanceStatus == false){ %>
            <span class="mdl-layout-title">Discord Bot Dashboard &raquo; Dashboard</span>
            <% }else{ %>
            <span class="mdl-layout-title">Discord Bot Dashboard &raquo; Dashboard <span class="maintenanceActive">Maintenance is active!</span></span>
            <% } %>
            <div class="mdl-layout-spacer"></div>
            <%- include('./templates/nav'); %>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Dashboard</span>
        <%- include('./templates/nav'); %>
    </div>
    <main class="mdl-layout__content">
        <!-- page content -->
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col"></div>
                <div class="mdl-cell mdl-cell--8-col">
                    <h1><b>Management</b></h1>
                    <hr>
                    <div class="manageContainer management_commandsContainer">
                        <h3><b>All commands: </b><br><small>I highly recommend to add here all commands you´re using for better management</small></h3>
                        <h3><b>Your current command prefix: <%= prefix %></b></h3>
                        <p>Add Commands here or in the bot-commands.json</p>
                        <hr>
                        <h4><b>Adding a command:</b></h4>
                        <form method="post" action="/addCommand">
                            <input class="commandInputSection" placeholder="Type here your command" name="commandName">
                            <br><br>
                            <button class="commandSubmitButton mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Add command</button>
                        </form>
                        <hr>
                        <ul class="commandList">
                            <% commands.forEach((command) => {  %>
                                <li class="commandListItem">
                                    <p class="commandName"><%= prefix %><%= command.commandName %></p>
                                    <hr>
                                    <p class="commandFunctionHeadline">Function / Content:</p>
                                    <div class="commandFunction"></div>
                                    <hr>
                                    <p>
                                        Available in maintenance:
                                        <% if(command.availableInMaintenance === false){ %>
                                            <span class="commandAvailableInMaintenance commandAvailableInMaintenanceFalse">No</span>
                                        <% }else{ %>
                                            <span class="commandAvailableInMaintenance commandAvailableInMaintenanceTrue">Yes</span>
                                        <% } %>
                                    </p>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../scripts/dashboard.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
