<!DOCTYPE html>
<html lang="ru"></html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="https://cdn.discordapp.com/attachments/541587472828727317/670340869282594876/fydne.png" />
    <title><%- data.user.username %> | Статус</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="./botStatus.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <meta name="author" content="fydne">
    <meta name="description" content="Инструмент для разработчиков ботов Discord.js, позволяющий управлять своим ботом для разработки и использования финального релиза.">
    <link rel="stylesheet" href="../styles/styles.css">
    <%- include ("templates/head.ejs") %>
</head>
<style>    
.columns .bot-img {
    box-shadow: 1px 1px 1px 1px transparent !important;
    animation: pulse 2s infinite;
    border-radius: 50%;
    }
    ::-moz-selection { /* Code for Firefox */
    color: #3191ff;
    background: #00000040;
    border-radius: 15px;
    }
    ::selection {
    color: #3191ff;
    background: #00000040;
    }
    ::-webkit-scrollbar {
    width: 9px;
    }
    ::-webkit-scrollbar-thumb {
    background-color: #18191c00;
    border-radius: 8px;
    }
    ::-webkit-scrollbar-track {
    background-color: #ffffff00;
    }
  </style>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <%- include ("templates/navigation.ejs") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <main class="mdl-layout__content">
            <!-- page content -->
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--3-col"></div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <h1><b>Страница состояния</b></h1>
                        <hr>
                        <p><i>В настоящее время я ищу что-то, чтобы обеспечить решение без базы данных (без MySQL и без системы хранения MongoDB), чтобы сохранить данные, чтобы иметь возможность предоставлять другим пользователям данные о конкретных вещах.
                            Теперь я предоставляю данные о статусе бота и некоторые другие детали, которые вы видите, что я запланировал на потом ... (возможно, позже она станет публичной аналитической страницей, но вы можете решить, будет ли это общедоступной или нет)</i></p>
                        <hr>
                            <% if(botData.maintenance === true){ %>
                            <div class="statusPage_botStatus botStatusDND"> В настоящее время бот находится на обслуживании!</div>
                            <% }else if(data.user.localPresence.status === "online"){ %>
                            <div class="statusPage_botStatus botStatusOnline"> Все системы работают! </div>
                            <% }else if(data.user.localPresence.status === "idle"){ %>
                            <div class="statusPage_botStatus botStatusOnline"> Все системы работают! </div>
                            <% }else if(data.user.localPresence.status === "dnd"){ %>
                            <div class="statusPage_botStatus botStatusOnline"> Все системы работают!</div>
                            <% }else if(data.user.localPresence.status === "invisible"){ %>
                            <div class="statusPage_botStatus botStatusInvisible"> Невидимый (бот невидим в списке участников)</div>
                            <% }%>
                        <div class="statusPageSection statusPage_botGuildsInformation">
                            <h4><b>Бот онлайн на этих гильдиях:</b></h4>
                            <%  let guilds = data.guilds;
                            guilds.map(function (a) {
                            %>
                            <p>&raquo; <b><%= a.name %></b></p>
                            <%
                            })
                            %>
                        </div>
                        <div class="statusPageSection statusPage_botInformation">
                            <h4><img src="<%= data.user.avatarURL %>" width="64px" class="statusPageBotInforamtion_avatar"> Бот: <b><%= data.user.username %></b></h4>
                            <h5><span class="bot_status"><b>Статус:</b>
                                <% if(data.user.localPresence.status === "online"){ %>
                                <div class="statusSymbolStatusPage statusSymbolOnline"></div> Онлайн
                                <% }else if(data.user.localPresence.status === "idle"){ %>
                                <div class="statusSymbolStatusPage statusSymbolIdle"></div> Не активен
                                <% }else if(data.user.localPresence.status === "dnd"){ %>
                                <div class="statusSymbolStatusPage statusSymbolDND"></div> Не беспокоить
                                <% }else if(data.user.localPresence.status === "invisible"){ %>
                                <div class="statusSymbolStatusPage statusSymbolInvisible"></div> Невидимый
                                <% }%>
                            </span></h5>
                            <h5><b>Игра:</b> <%= data.user.localPresence.game.name %></h5>
                            <h5><b>Включен:</b><br> <%= data.readyAt %></h5>
                            <h5><b>Версия:</b> <%= botData.bot_version %></h5>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col">
                    </div>
                </div>
            </div>
        </main>
    </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
</div>
</div>
</main>
<div class="row">

</div>
<!-- /.row (main row) -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/static/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
$.widget.bridge('uibutton', $.ui.button)
</script>
<!-- jQuery -->
<script src="/static/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="/static/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="/static/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="/static/jqvmap/jquery.vmap.min.js"></script>
<script src="/static/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="/static/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/static/moment/moment.min.js"></script>
<script src="/static/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/static/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="/static/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="/static/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/static/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/js/demo.js"></script>
<script src="../scripts/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../scripts/statusPage.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
