<!DOCTYPE html>
<html>
<head>
    <%- include ("templates/head.ejs") %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <%- include ("templates/navigation.ejs") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <div class="info-box">
              <% if (botInfo.status === "online") { %>
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-plug"></i></span>
              <% } else if (botInfo.status === "offline" || botInfo.status === "dnd") { %>
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-plug"></i></span>
              <% } else { %>
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-plug"></i></span>
              <% } %>
              <div class="info-box-content">
                <span class="info-box-text"><%- botInfo.username %> is:</span>
                <span class="info-box-number">
                  <%- botInfo.status %>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Users</span>
                <span class="info-box-number"><%- botInfo.users %></span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-server"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Guilds</span>
                <span class="info-box-number"><%- botInfo.guilds %></span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>More coming soon!</h3>

                <p>Feel free to contribute on GitHub.</p>
              </div>
              <a href="https://github.com/julianYaman/discord-bot-dashboard" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->

        <!-- Main row -->
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Cpu Usage</h3>
                  <a href="javascript:void(0);">View Report</a>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="d-flex flex-column">
                    <span class="text-bold text-lg">000</span>
                    <span>____</span>
                  </p>
                  <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-success">
                      <i class="fas fa-arrow-up"></i> 12.5%
                    </span>
                    <span class="text-muted">Since last week</span>
                  </p>
                </div>
                <!-- /.d-flex -->

                <div class="position-relative mb-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="visitors-chart" height="500" width="787" class="chartjs-render-monitor" style="display: block; height: 200px; width: 315px;"></canvas>
                </div>

                <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> This Week
                  </span>

                  <span>
                    <i class="fas fa-square text-gray"></i> Last Week
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            
          </div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<!-- jQuery -->
<script src="/static/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Live Bot Stats -->
<script src="/static/js/stats.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="/static/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="/static/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="/static/jqvmap/jquery.vmap.min.js"></script>
<script src="/static/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="/static/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/static/moment/moment.min.js"></script>
<script src="/static/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/static/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="/static/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="/static/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/static/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/js/demo.js"></script>
</body>
</html>